@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #333;
    font-family: sans-serif;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

.container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.top {
    background-image: url(../images/salad1.jpg);
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.top_title {
    font-family: "Dancing Script", cursive;
    font-size: 7rem;
    padding: 12rem 0 0 4rem;
}

.top_text {
    font-size: 1.1rem;
    padding-left: 6rem;
}

.menu {
    background-image: url(../images/salad2.jpg);
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
}

.menu_title {
    font-family: "Dancing Script", cursive;
    font-size: 7rem;
    padding: 12rem 0 0 4rem;
}

.menu-list {
    max-width: 900px;
    max-height: 600px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: auto auto auto 200px;
}

.menu-list th,
.menu-list td {
    font-size: 1.1rem;
    font-weight: normal;
    padding: 10px 25px;
}

.contact {
    background-image: url(../images/salad3.jpg);
    height: 100vh;
    scroll-snap-align: start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contact_title {
    color: aliceblue;
    font-family: "Dancing Script", cursive;
    font-size: 7rem;
    padding: 12rem 0 0 4rem;
}

.contact_wrapper {
    max-width: 600px;
    max-height: 400px;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0 auto;
}

.contact_wrapper p {
    font-size: 1.1rem;
    text-align: center;
    padding: 15px;
}

.btn {
    width: 240px;
    height: 60px;
    background-color: #333;
    font-size: 25px;
    color: #fff;
    margin: 20px auto;
    text-align: center;
    padding-top: 8px;
    border-radius: 5px;
}

.btn:hover {
    background: #555;
}

.sns {
    display: flex;
    justify-content: center;
}

.sns a {
    background: #fff;
    width: 3.75rem;
    height: 3.75rem;
    display: inline-block;
    margin: 0.5rem;
    border-radius: 50%;
    font-size: 2rem;
    padding: 0.25rem 0 0 0.95rem;
    color: #333;
}

.sns a:hover {
    background: rgba(255, 255, 255, 0.5);
}

/*mobile*/
@media (max-width: 1200px) {
    .top_title {
        font-size: 5rem;
        padding: 3rem 0 0 3rem;
    }

    .top_text {
        font-size: 0.9rem;
        padding: 28rem 5px 0 55%;
    }
}

@media (max-width: 850px) {
    .menu_title {
        font-size: 5rem;
        padding: 3rem 0 0 2rem;
    }

    .menu-list {
        max-width: 300px;
        max-height: 600px;
        margin: 5rem 0 0 2rem;
    }

    .menu-list th,
    .menu-list td {
        font-size: 0.9rem;
        padding: 10px 15px;
    }

    .contact_title {
        font-size: 5rem;
        padding: 5rem 0 0 3rem;
    }

    .contact_wrapper {
        margin: 50px auto 0;
    }

    .contact_wrapper p {
        font-size: 1rem;
        padding: 15px;
    }

    .contact_wrapper p:first-child {
        padding-bottom: 0;
    }
}

@media (max-width: 530px) {
    .top_text br {
        display: none;
    }

    .menu {
        display: block;
    }

    .menu-list {
        max-width: 300px;
        max-height: 600px;
        margin: 1rem 0 0 40%;
    }

    .menu-list th,
    .menu-list td {
        font-size: 0.8rem;
        padding: 10px 10px;
    }


}